# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Figures
#*.eps
*.dvi
*.ps

# LaTeX
#*.pdf
*.aux
*.log
*.bbl
*.bcf
*.blg
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.toc
*.synctex.gz
*.pdfsync

# MS Windows
Thumbs.db
*gurobiLog
